.header-color {
  /*background: -webkit-linear-gradient(to right, #0b8793, #360033);*/  /* Chrome 10-25, Safari 5.1-6 */

  /*background: linear-gradient(to right, #353534, #353534);*/
  /*background: lightseagreen*/
  background: linear-gradient(to right, #232526, #414345);
}

.drawer-color{
  background: linear-gradient(to right, #353534, #353534);
  background-color: #353534;
  background: #353534;
}

.landing-grid {
  /*background: #360033;*/  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #0b8793, #360033); */ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #0b8793, #360033); *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  min-height : 100%;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width : 100%;
  margin : auto;
}

.category-tabs {
  margin : auto;
  min-height: 100%;
}

.projects-grid h1 {
  text-align: center;
}

.avatar-img {
  height: 400px;
  width : 300px;
  position: relative;
  overflow: hidden;
  padding-top: 5em;
  padding-bottom: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.gfc-img {
  height: 400px;
  width : 300px;
  position: relative;
  overflow: hidden;
  padding-top: 5em;
  padding-bottom: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.banner-text {
  background-color: "#606060";
  opacity: .8;
  font-family: "Helvetica Neue";
  position: relative;
  width : 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  padding-top: 20px;
  font-size : 65px;
  font-weight: 100;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.banner-text h2 {
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.banner-text h3,h4 {
  padding-top: 20px;
  font-size : 45px;
  font-weight: 300;
  color: black;
  text-align: center;
  margin-bottom: 5px;
}

.category-tabs {
  font-size: 18px;
  font-weight: 300;
  color: black;
  text-align: center;
  margin-top: 5px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}
.social-links a {
  color: white;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.title {
  color: black;
}
