.task-container{
    justify-content:center;
    border-radius: 20px;
    border: 2px solid rgb(105, 105, 105);
    padding: 15px 20px 15px 20px;
    margin: 15px 0 5px 0;
    text-decoration: none;
}

.task-container:last-of-type {
    margin-bottom: 75px;
}

.tasks .task-container:hover .task-title {
    text-decoration: underline;
}

.task-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-title{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 15px;
}

.task-status{
    border: 1px solid red;
    padding: 1px 4px 1px 4px;
    border-radius: 10px;
}

.open{
    border-color: green;
    color: green;
}

.help_offered{
    border-color: #0084ff;
    color: #0084ff;
}

.done{
    border-color: #505050;
    color: #505050;
}

.task-created-at {
    color: #3b5aa5;
    font-size: 0.875em;
    margin: 5px 0 10px 0;
}

.task-desc {
    color: #3b5aa5;
}