.create-btn-container{
    /* border: 2px solid purple; */
    width: 100%;
    display:flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.create-btn{
    position: relative;
    right: 20px;
}

.spinner{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 200px;
}

.custom-h1 {
    margin:10px 0px 10px 0px; 
}

.grid-container {
    display: grid; 
    grid-template-columns: 700px 110px;
  }