.task-container{
    justify-content:center;
    border-radius: 20px;
    border: 2px solid rgb(105, 105, 105);
    padding: 15px 20px 15px 20px;
    margin: 15px 0 5px 0;
    text-decoration: none;
}

.task-container:last-of-type {
    margin-bottom: 75px;
}

.tasks .task-container:hover .task-title {
    text-decoration: underline;
}

.task-title{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.task-created-at {
    color: #3b5aa5;
    font-size: 0.875em;
    margin: 5px 0 10px 0;
}

.task-desc {
    color: #3b5aa5;
}

.create-btn-container{
    /* border: 2px solid purple; */
    width: 100%;
    display:flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.create-btn{
    position: relative;
    right: 20px;
}

.spinner{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 200px;
}

.custom-h1 {
    margin:10px 0px 10px 0px;
    /* padding: 0px; */
    /* position: fixed */
}

.grid-container {
    display: grid;
    /* margin-top: -15px; */
    grid-template-columns: 700px 110px;
  }